
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
body{
    background-color: #f6f6f9;
    font-family: 'Gowun Dodum', sans-serif;
}



.navbar-default {/*배경 색상*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.team-header .container-fluid{
    background-color: #ffffff;
    
    
}
.team-header .navbar-brand{
    font-size: 20px;
    font-weight: bold;
    color: #1e9736;
    
}

.job-team-body{
    max-width: 800px;
    width: 800px;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.job-team-body h1{
    font-weight: bold;
    color: #1e9736
}

.job-team-body .job-container{
    margin-bottom: 10px;
    padding-left: 50px;
    background-color: #fff;
    border: 1px solid #e5e5e6;
    border-radius: 2px;
    text-align: left;
    word-break: break-all;
    min-height: 150px;
    display: flex;
    align-items: center;
    
}

.job-team-body .job-container-new{
    margin-bottom: 10px;
    background-color: #d4d4d4;
    border: 1px solid #e5e5e6;
    border-radius: 2px;
    word-break: break-all;
    min-height: 150px;
    display: flex;
    align-items: center;
}

.job-team-body .job-container-new >div{
    width:100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #7c7c7c;
}

.job-team-body .job-container-new >div > a{
    text-decoration: none;
    color: #7c7c7c;
}
.job-team-body .job-container-new >div > a:hover{
    color: #535353;
}


.job-team-body .job-container .team-profile {
    max-width: 460px;
    width: 50%;
    margin: 0 auto;
    float: left;
}

.id-pass-inp {
    position: relative;
    box-sizing: border-box;
    height: 48px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}

.id-pass-inp  input {
    outline-style: none;
    width: 100%;
    height: 47px;
    border: 0  ;
    font-size: 17px;
    color: #222;
    box-sizing: border-box;
    padding: 12px 0;
    vertical-align: top;
}

.team-btn {
    margin-left: 100px;
    padding-left: 50px;
    width: 300px;
    float: right;
}

.team-btn button {
    width: 100px;
    height: 48px; 
    background-color: #183b57;
    border: 1px solid #183b57;
    border-radius: 2px;
    font-size: 15px;
    color: #fff;
    line-height: 48px;
    font-weight: bold;
    cursor: pointer;
    right:0px;
}

.job-signup{
    font-size: 15px;
    font-weight: bold;
}

.team-profile-image{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    float: left;
}

.team-profile-name{
    font-size: 20px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}

.team-profile-email{
    font-size: 15px;
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}

.team-profile-info{
	width: 220px;
	margin-left: 30px;
}